.gradient-header {
    background: linear-gradient(135deg, #8e2de2, #ff6ec4);
}
.carousel-wrap {
  padding: 40px 0;         
  display: flex;
  justify-content: center;
}
.img {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}
.sparkle-img {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 450px;    
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}


